@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#InboundScreenPop").modal({
                backdrop: 'static'
            });
        });
    </script>
}
<!-- BEGIN SIMPLE MODAL MARKUP -->
<div class="modal fade" id="InboundScreenPop" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-bordered style-primary" style="margin-bottom: 0;">
                <div class="card-head">
                    <div class="tools" style="margin-top: 10px">
                        <div class="btn-group">
                            <a class="btn ink-reaction btn-floating-action style-danger" data-dismiss="modal" title="End Call"><i class="md md-call-end"></i></a>
                        </div>
                    </div>
                    <header style="padding-left: 5px">
                        <h2><span class="text-xxl"><i class="fa fa-phone-square fa-fw"></i>@ViewData["phonenumber"]</span></h2>
                    </header>
                </div>

            </div>
            <div class="modal-body">
                <div class="card" style="margin-bottom: 5px;">
                    <div class="card-head">
                        <header>Contact</header>
                        <div class="tools">
                            <div class="btn-group">
                                <form class="navbar-search" role="search" autocomplete="off" onsubmit="return false;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="contactSearch" placeholder="ค้นหาจากชื่อ-นามสกุล">
                                    </div>
                                    <button type="button" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end .card-head -->
                    <div class="card-body tab-content no-padding" style="height: 233px; overflow: auto; overflow-y: scroll;">
                        <div class="list-results">
                            <div class="col-xs-12 col-lg-12 hbox-xs">
                                <div class="hbox-column width-2">
                                    <div class="col-lg-12">
                                        <a class="text-lg text-medium" href="@Url.Action("NewCase", "Case")/C-000001">โนบิตะ</a>
                                    </div>
                                    <div class="tile-icon">
                                        <img class="img-circle img-responsive pull-left" src="~/Images/contact_.png" alt="">
                                    </div>
                                </div>
                                <!--end .hbox-column -->
                                <div class="hbox-column v-top">
                                    <div class="clearfix margin-bottom-lg">
                                        <div class="col-lg-1">
                                            <img src="~/Images/emoticon/2Fair-M.png" class="emo32" />
                                        </div>
                                        <div class="col-lg-11">
                                            <span class="opacity-75"><span class="glyphicon glyphicon-comment text-sm"></span>&nbsp;ร้องเรียนการบริการของศูนย์บริการ xxx พนง.พูดจาไม่สุภาพ..</span>
                                        </div>
                                    </div>
                                    <div class="clearfix margin-bottom-lg">
                                        <div class="col-lg-1">
                                            <img src="~/Images/emoticon/3Good-M.png" class="emo32" />
                                        </div>
                                        <div class="col-lg-11">
                                            <span class="opacity-75"><span class="glyphicon glyphicon-comment text-sm"></span>&nbsp;สอบถามข้อมูลศูนย์บริการที่เปิดวันเสาร์-อาทิตย์ และอยู่แถวลาดพร้าว..</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-lg-1">
                                            <img src="~/Images/emoticon/3Good-M.png" class="emo32" />
                                        </div>
                                        <div class="col-lg-11">
                                            <span class="opacity-75"><span class="glyphicon glyphicon-comment text-sm"></span>&nbsp;สอบถามข้อมูลศูนย์บริการที่เปิดวันเสาร์-อาทิตย์ และอยู่แถวลาดพร้าว..</span>
                                        </div>
                                    </div>
                                </div>
                                <!--end .hbox-column -->
                            </div>
                            <div class="col-xs-12 col-lg-12 hbox-xs">
                                <div class="hbox-column width-2">
                                    <div class="col-lg-12">
                                        <a class="text-lg text-medium" href="@Url.Action("NewCase", "Case")/C-000001">โนบิตะ</a>
                                    </div>
                                    <div class="tile-icon">
                                        <img class="img-circle img-responsive pull-left" src="~/Images/contact_.png" alt="">
                                    </div>
                                </div>
                                <!--end .hbox-column -->
                                <div class="hbox-column v-top">
                                    <div class="clearfix margin-bottom-lg">
                                        <div class="col-lg-1">
                                            <img src="~/Images/emoticon/2Fair-M.png" class="emo32" />
                                        </div>
                                        <div class="col-lg-11">
                                            <span class="opacity-75"><span class="glyphicon glyphicon-comment text-sm"></span>&nbsp;ร้องเรียนการบริการของศูนย์บริการ xxx พนง.พูดจาไม่สุภาพ..</span>
                                        </div>
                                    </div>
                                </div>
                                <!--end .hbox-column -->
                            </div>

                        </div>
                        @*  <div class="tab-pane active">
                            <ul class="list divider-full-bleed">
                                <li class="tile" style="line-height: 2em;">
                                    <a class="tile-content ink-reaction" href="@Url.Action("NewCase", "Case")/C-000001">
                                        <div class="tile-icon">
                                            <img src="~/Images/contact_.png" alt="" />
                                        </div>
                                        <div class="tile-text">
                                            โนบิตะ                                                  
                                        </div>
                                        <div title="Last Emo">
                                            <div class="col-lg-12">
                                                <img src="~/Images/emoticon/2Fair-M.png" class="emo32" />&nbsp;
                                                <img src="~/Images/emoticon/4VeryGood-M.png" class="emo32" />&nbsp;
                                                <img src="~/Images/emoticon/3Good-M.png" class="emo32" />
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tile" style="line-height: 2em;">
                                    <a class="tile-content ink-reaction" href="newcase.html">
                                        <div class="tile-icon">
                                            <img src="~/Images/contact_.png" alt="" />
                                        </div>
                                        <div class="tile-text" style="width: 320px">
                                            ไจแอนท์
                                                    <small>Mobile</small>
                                        </div>
                                        <div class="row" title="Last Emo">
                                            <div class="col-lg-12">
                                                <img src="~/Images/emoticon/emo32-1.png" />
                                                <img src="~/Images/emoticon/emo32-4.png" />
                                                <img src="~/Images/emoticon/emo32-2.png" />
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tile" style="line-height: 2em;">
                                    <a class="tile-content ink-reaction" href="newcase.html">
                                        <div class="tile-icon">
                                            <img src="~/Images/contact_.png" alt="" />
                                        </div>
                                        <div class="tile-text" style="width: 320px">
                                            ชิซูกะ
                                                    <small>Mobile</small>
                                        </div>
                                        <div class="row" title="Last Emo">
                                            <div class="col-lg-12">
                                                <img src="~/Images/emoticon/emo32-4.png" />
                                                <img src="~/Images/emoticon/emo32-5.png" />
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tile" style="line-height: 2em;">
                                    <a class="tile-content ink-reaction" href="newcase.html">
                                        <div class="tile-icon">
                                            <img src="~/Images/contact_.png" alt="" />
                                        </div>
                                        <div class="tile-text" style="width: 320px">
                                            ทดสอบ
                                                    <small>Mobile</small>
                                        </div>
                                        <div class="row" title="Last Emo">
                                            <div class="col-lg-12">
                                                <img src="~/Images/emoticon/emo32-4.png" />
                                                <img src="~/Images/emoticon/emo32-5.png" />
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tile" style="line-height: 2em;">
                                    <a class="tile-content ink-reaction" href="newcase.html">
                                        <div class="tile-icon">
                                            <img src="~/Images/contact_.png" alt="" />
                                        </div>
                                        <div class="tile-text" style="width: 320px">
                                            ทดสอบ
                                                    <small>Mobile</small>
                                        </div>
                                        <div class="row" title="Last Emo">
                                            <div class="col-lg-12">
                                                <img src="~/Images/emoticon/emo32-4.png" />
                                                <img src="~/Images/emoticon/emo32-5.png" />
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <!--end .card-body -->
                </div>
                <!--end .card -->
                <div>
                    <a href="@Url.Action("NewCase", "Case")">
                        <button type="button" class="btn ink-reaction btn-flat btn-primary"><i class="md md-add-circle"></i>New Case</button>
                    </a>
                </div>
            </div>
            <!--<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SIMPLE MODAL MARKUP -->
