@model NEWCRM.Models.Case

@{
    ViewBag.Title = "DetailEdit";
    Layout = null;
}

<div id="ctdiv_1" class="form-group">
    @if (Model.casIDLevel1.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = 0, selectedID = Model.casIDLevel1 });
    }
</div>

<div id="ctdiv_2" class="form-group">
    @if (Model.casIDLevel2.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = @Model.casIDLevel1, selectedID = Model.casIDLevel2 });
    }
</div>

<div id="ctdiv_3" class="form-group">
    @if (Model.casIDLevel3.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = @Model.casIDLevel2, selectedID = Model.casIDLevel3 });
    }
</div>
<div id="ctdiv_4" class="form-group">
    @if (Model.casIDLevel4.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = @Model.casIDLevel3, selectedID = Model.casIDLevel4 });
    }
</div>
<div id="ctdiv_5" class="form-group">
    @if (Model.casIDLevel5.HasValue)
    {
        Html.RenderAction("getCaseTypeNodeSelection", "Casetype", new { id = @Model.casIDLevel4, selectedID = Model.casIDLevel5 });
    }
</div>
<div class="form-group">
    <label for="casenote" class="col-sm-3 control-label">Add Note</label>
    <div class="col-sm-9 margin-bottom-xl">
        <textarea id="casNote" name="casNote" class="form-control" rows="6" required data-rule-minlength="1">@Model.casNote</textarea>
    </div>
</div>
<div id="ctdiv_opt" class="form-group" style="display: @(Model.casSLA > 0 ? "block": "none")">
    <label class="col-sm-3 control-label">Case SLA</label>
    <div class="col-sm-9">
        <p class="text-l">
            <h4><i class="fa fa-clock-o fa-fw"></i>&nbsp;<span id="sla">@Model.casSLA</span>&nbsp;Minutes</h4>
            <input type="hidden" name="casSLA" id="casSLA" value="@Model.casSLA" />
            <input type="hidden" name="slaID" id="slaID" />
        </p>
    </div>
</div>
<input type="hidden" name="casID" value="@Model.casID" />
<script type="text/javascript">

    function nextctnode(ref) {
        var message = $(ref).find(':selected').attr('data-dialogue');
        var sla = $(ref).find(':selected').attr('data-sla');
        var slaid = $(ref).find(':selected').attr('data-slaid');
        var current_divnode = $(ref).parents().eq(1).attr("id");
        var current_lv = current_divnode.split("_")[1];
        var next_lv = parseInt(current_lv) + 1;

        //alert(current_lv);

        if ($(ref).val() === "") {
            // Show - Hide another div
            if (current_lv == 1) {
                $("#ctdiv_2").empty().hide();
                $("#ctdiv_3").empty().hide();
                $("#ctdiv_4").empty().hide();
                $("#ctdiv_5").empty().hide();
            }
            if (current_lv == 2) {
                $("#ctdiv_3").empty().hide();
                $("#ctdiv_4").empty().hide();
                $("#ctdiv_5").empty().hide();
            }
            if (current_lv == 3) {
                $("#ctdiv_4").empty().hide();
                $("#ctdiv_5").empty().hide();
            }
            if (current_lv == 4) {
                $("#ctdiv_5").empty().hide();
            }
            $("#ctdiv_opt").hide();
            $("#casSLA").val('');
        } else {
            if (current_lv == 1) {
                $("#ctdiv_2").empty().hide();
                $("#ctdiv_3").empty().hide();
                $("#ctdiv_4").empty().hide();
                $("#ctdiv_5").empty().hide();
                $("#ctdiv_opt").hide();
                $("#casSLA").val('');
            }
            if (current_lv == 2) {
                $("#ctdiv_3").empty().hide();
                $("#ctdiv_4").empty().hide();
                $("#ctdiv_5").empty().hide();
                $("#ctdiv_opt").hide();
            }
            if (current_lv == 3) {
                $("#ctdiv_4").empty().hide();
                $("#ctdiv_5").empty().hide();
                $("#ctdiv_opt").hide();
            }
            if (current_lv == 4) {
                $("#ctdiv_5").empty().hide();
                $("#ctdiv_opt").hide();
            }

            // Set casLevel                
            $("#casLevel" + current_lv).val($(ref).find("option:selected").text());
            // Show Next Node
            //if($(ref).find("option:selected").val() === '2') {
            //alert(sla);
            if (sla === '' || typeof sla == 'undefined') {
                //alert(lv_current.attr("id"));
                $("#ctdiv_" + next_lv).html('<div class="col-sm-3">&nbsp;</div><div class="col-sm-9 text-warning text-medium">Loading...</div>').slideDown(200);
                var id = $(ref).val();
                var url = '@Url.Action("getCaseTypeNodeSelection", "Casetype")/' + id;
                    $.post(url, function (data) {
                        $("#ctdiv_" + next_lv).html(data);
                    });
                } else {

                    $("#casNote").focus();
                    $("#sla").text(sla);
                    $("#casSLA").val(sla);
                    $("#slaID").val(slaid);
                    $("#ctdiv_opt").show();
                }
            }

            if (jQuery.trim(message).length > 0) {
                openInfoDialog(message);
            } else {
                toastr.clear();
            }
        }

        function successNewContact() {
            var url = '@Url.Action("CommonDetail", "Contact")';
            $.post(url, function (data) {
                $("#cd").html(data).show();
                $("#cdt").fadeIn(300);
            });
        }

    function disableCT()
    {
        $("#ctdiv_1").addClass("has-error");
        $("#casIDLevel1").prop("disabled", "disabled");
        if ($("#casIDLevel2").length)
        {
            $("#ctdiv_2").addClass("has-error");
            $("#casIDLevel2").prop("disabled", "disabled");
        }
        if ($("#casIDLevel3").length) {
            $("#ctdiv_3").addClass("has-error");
            $("#casIDLevel3").prop("disabled", "disabled");
        }
        if ($("#casIDLevel4").length) {
            $("#ctdiv_4").addClass("has-error");
            $("#casIDLevel4").prop("disabled", "disabled");
        }
        if ($("#casIDLevel5").length) {
            $("#ctdiv_5").addClass("has-error");
            $("#casIDLevel5").prop("disabled", "disabled");
        }
    }
</script>
@if (Model.casSLA > 0)
{ 
    <script>//disableCT()</script>
}
